/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* line 21, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 32, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 38, ../sass/screen.scss */
table {
  width: 100%;
}
/* line 42, ../sass/screen.scss */
table thead {
  background-color: #ea636e;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 48, ../sass/screen.scss */
table thead tr {
  border-bottom: none;
  height: 1em;
}
/* line 53, ../sass/screen.scss */
table thead td {
  padding: 0.15em 0 0.15em 0.25em !important;
}
/* line 59, ../sass/screen.scss */
table colgroup #row-one {
  width: 40%;
}
/* line 62, ../sass/screen.scss */
table colgroup #row-two {
  width: 30%;
}
/* line 65, ../sass/screen.scss */
table colgroup #row-three {
  width: 20%;
}
/* line 70, ../sass/screen.scss */
table tr {
  height: 2em;
  border-bottom: dotted #666 1px;
}

/* line 77, ../sass/screen.scss */
#calendar-of-events td {
  padding: 0.5em 0 1.2em 0;
}
/* line 80, ../sass/screen.scss */
#calendar-of-events tr {
  border-bottom: none;
}

/* line 85, ../sass/screen.scss */
#where-are-they-now {
  background-color: #fff;
}

/* line 90, ../sass/screen.scss */
#current-fellows h3 {
  text-align: center;
  text-decoration: underline;
  color: #ea636e;
  font-weight: 700;
  margin: 0.7em 0 0.5em 0;
  text-transform: uppercase;
}
/* line 98, ../sass/screen.scss */
#current-fellows p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 108, ../sass/screen.scss */
.absolute {
  position: absolute;
  display: inline-block;
  top: 0;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
@media (max-width: 650px) {
  /* line 108, ../sass/screen.scss */
  .absolute {
    position: static;
    width: 100% !important;
  }
}

/* line 122, ../sass/screen.scss */
.fixed {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 130, ../sass/screen.scss */
.row {
  height: 200px;
  position: relative;
}

/* line 134, ../sass/screen.scss */
img.absolute {
  height: auto;
  width: auto;
}

/* line 141, ../sass/screen.scss */
.background {
  background-position: center;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
  z-index: -1;
}

/* line 146, ../sass/screen.scss */
#next-page .background {
  display: none;
}

/* line 149, ../sass/screen.scss */
.animated .background {
  display: block !important;
}

/* page views */
/* line 154, ../sass/screen.scss */
.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
}

/* line 165, ../sass/screen.scss */
#content {
  left: 0%;
  overflow: scroll;
}

/* line 170, ../sass/screen.scss */
.page > h1 {
  padding-top: 2em;
  width: 100%;
  display: block;
  text-align: center;
}

/* line 177, ../sass/screen.scss */
p {
  margin-bottom: 0.45em;
  letter-spacing: -0.01em;
  line-height: 1.15em;
}

/* line 185, ../sass/screen.scss */
h2.absolute {
  margin: 2em 0 1em 5%;
  border: solid 2px #ea636e;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  padding: 0.1em 0.2em 0.1em 0.2em;
  font-weight: 700;
  width: initial !important;
  text-transform: uppercase;
  color: #ea636e;
}

/* line 198, ../sass/screen.scss */
blockquote {
  color: #111111;
  font-size: 2em;
  margin-top: 2em;
}

/* Custom Page Sections */
/* line 207, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 211, ../sass/screen.scss */
#interview {
  background-color: #555;
  padding: 2em 0 0 0;
}
/* line 216, ../sass/screen.scss */
#interview h4 {
  text-decoration: none;
  color: #fff;
}
/* line 222, ../sass/screen.scss */
#interview div:nth-child(2) div:nth-child(1) {
  columns: 2;
  -webkit-columns: 2;
  /* Safari and Chrome */
  -moz-columns: 2;
  /* Firefox */
}

/* line 231, ../sass/screen.scss */
#special-procedure {
  background-color: #fff;
}
/* line 234, ../sass/screen.scss */
#special-procedure div:nth-child(2) div:nth-child(1) {
  z-index: 1;
}

/* line 240, ../sass/screen.scss */
#current-fellows {
  background-color: #fff;
}

/* line 244, ../sass/screen.scss */
h4 {
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
  font-size: 0.9em;
}

/* line 252, ../sass/screen.scss */
#cover {
  margin-bottom: 6em;
}
/* line 256, ../sass/screen.scss */
#cover h1 {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 263, ../sass/screen.scss */
#cover h3 {
  margin: 2em auto 1em auto;
  border: solid 2px #111111;
  box-sizing: border-box;
  font-size: 1.5em;
  text-align: center;
  padding: 0.1em 0.2em 0.1em 0.2em;
  font-weight: 700;
  width: 3em;
  text-transform: uppercase;
  color: #111111;
}
/* line 276, ../sass/screen.scss */
#cover strong {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2em;
}
/* line 282, ../sass/screen.scss */
#cover p {
  text-align: center;
}

/* line 287, ../sass/screen.scss */
h1 {
  font-size: 2em;
  padding: 2em 0 2em 0;
}

/* line 292, ../sass/screen.scss */
.full-page {
  height: 90%;
}

/* nav */
/* line 297, ../sass/screen.scss */
#nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #ea636e;
}
/* line 306, ../sass/screen.scss */
#nav h1 {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
  zoom: 1;
  display: inline;
}
/* line 316, ../sass/screen.scss */
#nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}
/* line 325, ../sass/screen.scss */
#nav img {
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin: 0;
  margin-right: 3em;
  background-color: #ea636e;
}
/* line 331, ../sass/screen.scss */
#nav a:hover {
  background-color: #ca444e;
}
/* line 334, ../sass/screen.scss */
#nav #subnav, #nav #subnav-new {
  position: absolute;
}
/* line 337, ../sass/screen.scss */
#nav #subnav a, #nav #subnav-new a {
  display: block;
}
/* line 341, ../sass/screen.scss */
#nav .heighlight {
  background-color: #ff838e;
}
/* line 344, ../sass/screen.scss */
#nav .last-button {
  display: none;
}
/* line 347, ../sass/screen.scss */
#nav .bigger-than-window {
  height: 100%;
  overflow: scroll !important;
}
/* line 351, ../sass/screen.scss */
#nav .bigger-than-window-noscroll {
  overflow: hidden;
}
@media (max-width: 650px) {
  /* line 297, ../sass/screen.scss */
  #nav {
    position: fixed;
    width: 100%;
  }
  /* line 359, ../sass/screen.scss */
  #nav a {
    position: static;
    display: block;
    width: 90%;
    padding: 5%;
    z-index: 1;
  }
  /* line 366, ../sass/screen.scss */
  #nav .last-button {
    position: static;
    display: block;
    padding: 5%;
    width: 90%;
    background-color: #ccc;
  }
  /* line 373, ../sass/screen.scss */
  #nav #subnav {
    width: 100%;
    position: static;
    display: none !important;
  }
  /* line 378, ../sass/screen.scss */
  #nav #subnav-new {
    display: none !important;
    width: 100%;
  }
  /* line 381, ../sass/screen.scss */
  #nav #subnav-new a {
    width: 100%;
  }
  /* line 385, ../sass/screen.scss */
  #nav .selected {
    /*background-color: #999;*/
  }
}

/* line 391, ../sass/screen.scss */
.home .background {
  background: no-repeat;
  background-position: center;
}

/* ` */
/* other pages */
/* line 400, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 405, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 409, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* Media Queries */
/* line 415, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
