/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* line 21, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 32, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 38, ../sass/screen.scss */
table {
  width: 100%;
}
/* line 42, ../sass/screen.scss */
table thead {
  background-color: #ea636e;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
/* line 48, ../sass/screen.scss */
table thead tr {
  border-bottom: none;
  height: 1em;
}
/* line 53, ../sass/screen.scss */
table thead td {
  padding: 0.15em 0 0.15em 0.25em !important;
}
/* line 59, ../sass/screen.scss */
table colgroup #row-one {
  width: 40%;
}
/* line 62, ../sass/screen.scss */
table colgroup #row-two {
  width: 30%;
}
/* line 65, ../sass/screen.scss */
table colgroup #row-three {
  width: 20%;
}
/* line 68, ../sass/screen.scss */
table colgroup #row-four {
  width: 10%;
}
/* line 73, ../sass/screen.scss */
table tr {
  height: 2em;
  border-bottom: dotted #666 1px;
}

/* line 80, ../sass/screen.scss */
#calendar-of-events td {
  padding: 0.5em 0 1.2em 0;
}
/* line 83, ../sass/screen.scss */
#calendar-of-events tr {
  border-bottom: none;
}

/* line 88, ../sass/screen.scss */
#where-are-they-now {
  background-color: #fff;
}

/* line 93, ../sass/screen.scss */
#current-fellows h3 {
  text-align: center;
  text-decoration: underline;
  color: #ea636e;
  font-weight: 700;
  margin: 0.7em 0 0.5em 0;
  text-transform: uppercase;
}
/* line 101, ../sass/screen.scss */
#current-fellows p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 111, ../sass/screen.scss */
.absolute {
  position: absolute;
  display: inline-block;
  top: 0;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
@media (max-width: 650px) {
  /* line 111, ../sass/screen.scss */
  .absolute {
    position: static;
    width: 100% !important;
  }
}

/* line 125, ../sass/screen.scss */
.fixed {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 133, ../sass/screen.scss */
.row, .sub-row {
  height: 200px;
  position: relative;
}

/* line 138, ../sass/screen.scss */
img.absolute {
  height: auto;
  width: auto;
}

/* line 145, ../sass/screen.scss */
.background {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
  z-index: -1;
  background-size: inherit;
}

@media (max-width: 650px) {
  /* line 154, ../sass/screen.scss */
  .background {
    background-size: 90%;
  }
}
/* line 159, ../sass/screen.scss */
#launching {
  font-size: 0.5em;
  letter-spacing: 0.04em;
  text-transform: initial;
}

/* line 165, ../sass/screen.scss */
#next-page .background {
  display: none;
}

/* line 168, ../sass/screen.scss */
.animated .background {
  display: block !important;
}

/* page views */
/* line 173, ../sass/screen.scss */
.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
}

/* line 184, ../sass/screen.scss */
#content {
  left: 0%;
  overflow: scroll;
}

/* line 189, ../sass/screen.scss */
.page > h1 {
  padding-top: 2em;
  width: 100%;
  display: block;
  text-align: center;
}

/* line 196, ../sass/screen.scss */
p {
  margin-bottom: 0.45em;
  letter-spacing: -0.01em;
  line-height: 1.15em;
}

/* line 204, ../sass/screen.scss */
h2.absolute {
  margin: 2em 0 1em 5%;
  border: solid 2px #ea636e;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  padding: 0.1em 0.2em 0.1em 0.2em;
  font-weight: 700;
  width: initial !important;
  text-transform: uppercase;
  color: #ea636e;
}

/* line 217, ../sass/screen.scss */
blockquote {
  color: #111111;
  font-size: 2em;
  margin-top: 3em;
}

/* line 223, ../sass/screen.scss */
.quoted {
  position: absolute;
  margin-top: 0.5em;
  right: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

/* line 231, ../sass/screen.scss */
i {
  line-height: 1.2em;
}

/* Custom Page Sections */
/* line 238, ../sass/screen.scss */
strong {
  font-weight: 700;
}

/* line 242, ../sass/screen.scss */
#interview {
  background-color: #555;
  padding: 2em 0 4em 0;
}
/* line 247, ../sass/screen.scss */
#interview h4 {
  text-decoration: none;
  color: #fff;
}

/* line 262, ../sass/screen.scss */
#special-procedure {
  background-color: #fff;
}
/* line 265, ../sass/screen.scss */
#special-procedure div:nth-child(2) div:nth-child(1) {
  z-index: 1;
}

/* line 271, ../sass/screen.scss */
#current-fellows {
  background-color: #fff;
}

/* line 275, ../sass/screen.scss */
h4 {
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
  font-size: 0.9em;
}

/* line 283, ../sass/screen.scss */
#cover {
  margin-bottom: 6em;
}
/* line 287, ../sass/screen.scss */
#cover h1 {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 294, ../sass/screen.scss */
#cover h3 {
  margin: 2em auto 1em auto;
  border: solid 2px #111111;
  box-sizing: border-box;
  font-size: 1.5em;
  text-align: center;
  padding: 0.1em 0.2em 0.1em 0.2em;
  font-weight: 700;
  width: 3em;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
}
/* line 308, ../sass/screen.scss */
#cover strong {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2em;
}
/* line 314, ../sass/screen.scss */
#cover p {
  text-align: center;
}
@media (max-width: 650px) {
  /* line 320, ../sass/screen.scss */
  #cover h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 1.2em 0 0.6em 0;
  }
}

/* line 330, ../sass/screen.scss */
h1 {
  font-size: 2em;
  padding: 2em 0 2em 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 338, ../sass/screen.scss */
.full-page {
  min-height: 90%;
}

/* nav */
/* line 344, ../sass/screen.scss */
#nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #ea636e;
}
/* line 353, ../sass/screen.scss */
#nav h1 {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
  zoom: 1;
  display: inline;
}
/* line 363, ../sass/screen.scss */
#nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}
/* line 372, ../sass/screen.scss */
#nav img {
  padding: 0.5em 0.8em 0 0.5em;
  margin: 0;
  margin-right: 3em;
  background-color: #ea636e;
}
/* line 378, ../sass/screen.scss */
#nav a:hover {
  background-color: #ca444e;
}
/* line 381, ../sass/screen.scss */
#nav #subnav, #nav #subnav-new {
  position: absolute;
}
/* line 384, ../sass/screen.scss */
#nav #subnav a, #nav #subnav-new a {
  display: block;
}
/* line 388, ../sass/screen.scss */
#nav .heighlight {
  background-color: #ff838e;
}
/* line 391, ../sass/screen.scss */
#nav .last-button {
  display: none;
}
/* line 394, ../sass/screen.scss */
#nav .bigger-than-window {
  height: 100%;
  overflow: scroll !important;
}
/* line 398, ../sass/screen.scss */
#nav .bigger-than-window-noscroll {
  overflow: hidden;
}
@media (max-width: 650px) {
  /* line 344, ../sass/screen.scss */
  #nav {
    position: fixed;
    width: 100%;
  }
  /* line 406, ../sass/screen.scss */
  #nav a {
    position: static;
    display: block;
    width: 90%;
    padding: 5%;
    z-index: 1;
  }
  /* line 413, ../sass/screen.scss */
  #nav .last-button {
    position: static;
    display: block;
    padding: 5%;
    width: 90%;
    background-color: #ccc;
  }
  /* line 420, ../sass/screen.scss */
  #nav #subnav {
    width: 100%;
    position: static;
    display: none !important;
  }
  /* line 425, ../sass/screen.scss */
  #nav #subnav-new {
    display: none !important;
    width: 100%;
  }
  /* line 428, ../sass/screen.scss */
  #nav #subnav-new a {
    width: 100%;
  }
  /* line 432, ../sass/screen.scss */
  #nav .selected {
    /*background-color: #999;*/
  }
  /* line 435, ../sass/screen.scss */
  #nav .last-button {
    background-color: #ea636e;
    background-image: url(/static/img/pull-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* ` */
/* other pages */
/* line 451, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  z-index: 999;
}

/* line 457, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 461, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* Custom Sections */
/* line 468, ../sass/screen.scss */
#faculty-bios img {
  padding-top: 4em;
}
/* line 471, ../sass/screen.scss */
#faculty-bios ul {
  margin: 0 0 1em 0;
}
/* line 474, ../sass/screen.scss */
#faculty-bios blockquote {
  font-size: 1em;
  font-style: italic;
  margin: 1em 0 0 0;
  color: #ea636e;
}
/* line 480, ../sass/screen.scss */
#faculty-bios h3 {
  font-weight: 700;
  margin: 1em 0 0.6em 0;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 486, ../sass/screen.scss */
#faculty-bios h4 {
  margin: 1.4em 0 0.4em 0;
}
/* line 491, ../sass/screen.scss */
#faculty-bios .row div > div:nth-child(2) div:nth-child(1) {
  z-index: 1;
}

/* line 498, ../sass/screen.scss */
#faculty-presentations-and-courses-20122013 {
  background-size: 50%;
  background-color: #777;
}
/* line 501, ../sass/screen.scss */
#faculty-presentations-and-courses-20122013 ol {
  counter-reset: list-counter;
  list-style: none;
  font-size: 0.8em;
  color: #fff;
}
/* line 506, ../sass/screen.scss */
#faculty-presentations-and-courses-20122013 ol li {
  margin: 0 0 0.5em 0;
}
/* line 509, ../sass/screen.scss */
#faculty-presentations-and-courses-20122013 ol li:before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  color: #000;
  position: absolute;
  left: -3em;
  width: 2em;
  font-weight: bold;
  text-align: right;
}

/* line 523, ../sass/screen.scss */
#contact-information .row {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2em;
}

/* line 530, ../sass/screen.scss */
.fellowship #about-fellowship, .fellowship #curriculum, .fellowship #research-opportunities, .fellowship #fellow-publications, .fellowship #fellowships-available, .fellowship #social-events {
  padding: 2em 0 4em 0;
}

/* line 536, ../sass/screen.scss */
#curriculum {
  background-color: #666;
}
/* line 538, ../sass/screen.scss */
#curriculum ol {
  counter-reset: list-counter;
  list-style: none;
  font-size: 0.8em;
  color: #fff;
}
/* line 543, ../sass/screen.scss */
#curriculum ol li {
  margin: 0 0 0.5em 0;
}
/* line 546, ../sass/screen.scss */
#curriculum ol li:before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  color: #000;
  position: absolute;
  left: -3em;
  width: 2em;
  font-weight: bold;
  text-align: right;
}

/* line 560, ../sass/screen.scss */
#selected-faculty-publications-20122013 h3 {
  font-weight: 700;
  margin: 1em 0 0.6em 0;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 567, ../sass/screen.scss */
#selected-faculty-publications-20122013 ol li {
  margin: 0 0 1em 0;
}

/* line 573, ../sass/screen.scss */
#previous-annuals {
  text-align: center;
  font-size: 1em;
}
/* line 577, ../sass/screen.scss */
#previous-annuals img {
  width: 100%;
  box-shadow: 0px 0px 15px #999;
  margin: 0 0 1em 0;
}

/* Custom Padding */
/* line 585, ../sass/screen.scss */
#pre-requisites {
  padding-bottom: 4em;
}

/* line 589, ../sass/screen.scss */
a {
  color: #ea636e;
}

/* line 593, ../sass/screen.scss */
h3 {
  font-weight: 700;
  margin: 1em 0 0.6em 0;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 601, ../sass/screen.scss */
#about .sub-row {
  text-align: center;
}
/* line 607, ../sass/screen.scss */
#about h5 {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  width: 100%;
  margin: 0.25em 0 0 0;
}

/* line 618, ../sass/screen.scss */
#about-fellowship .vert-top {
  vertical-align: top;
  padding-top: 0.45em;
}
/* line 624, ../sass/screen.scss */
#about-fellowship colgroup #row-one {
  width: 5%;
}
/* line 627, ../sass/screen.scss */
#about-fellowship colgroup #row-two {
  width: 15%;
}
/* line 630, ../sass/screen.scss */
#about-fellowship colgroup #row-three {
  width: 30%;
}
/* line 633, ../sass/screen.scss */
#about-fellowship colgroup #row-four {
  width: 10%;
}
/* line 637, ../sass/screen.scss */
#about-fellowship .tr-no-dots {
  height: 2em;
  border-bottom: none;
}

/* Media Queries */
/* line 644, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 649, ../sass/screen.scss */
#google-maps {
  width: 100%;
  height: 600px;
  position: relative;
}

/* line 655, ../sass/screen.scss */
#zoom-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 662, ../sass/screen.scss */
#zoom-button-container a {
  display: inline-block;
  padding: 0.15em 0.85em 0.15em 0.85em;
  margin: 0 0 0.5em 0;
  text-decoration: none;
  background: #ea636e;
  color: #fff;
  font-weight: 600;
  font-size: 2em;
}

/* line 672, ../sass/screen.scss */
#zoom-button-container a:hover {
  background-color: #ca444e;
}

/* line 677, ../sass/screen.scss */
#contact-maps {
  width: 100%;
  height: 600px;
}

/* line 682, ../sass/screen.scss */
.infobubble-bk {
  color: #fff;
  font-weight: 700 !important;
}

/* line 687, ../sass/screen.scss */
.gmap-overlay {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAL/gYARxgdzQAAkAOOA2IzIHJAAACAGEAFjDBirAAAAAElFTkSuQmCC) repeat;
}
