/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 21, ../sass/_base.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 32, ../sass/_base.scss */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

/* line 51, ../sass/_base.scss */
.transition-all-2 {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* line 21, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "franklin-gothic-urw",sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

/* line 32, ../sass/screen.scss */
body {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 38, ../sass/screen.scss */
table {
  width: 100%;
}
/* line 42, ../sass/screen.scss */
table thead {
  background-color: #ea636e;
  color: #fff;
  text-transform: uppercase;
}
/* line 47, ../sass/screen.scss */
table thead tr {
  border-bottom: none;
  height: 1.5em;
}
/* line 52, ../sass/screen.scss */
table thead td {
  padding: 0.15em 0 0.15em 0.25em;
}
/* line 58, ../sass/screen.scss */
table colgroup #row-one {
  width: 40%;
}
/* line 61, ../sass/screen.scss */
table colgroup #row-two {
  width: 30%;
}
/* line 64, ../sass/screen.scss */
table colgroup #row-three {
  width: 20%;
}
/* line 69, ../sass/screen.scss */
table tr {
  height: 2em;
  border-bottom: dotted #666 1px;
}

/* line 75, ../sass/screen.scss */
.absolute {
  position: absolute;
  display: inline-block;
  top: 0;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
@media (max-width: 650px) {
  /* line 75, ../sass/screen.scss */
  .absolute {
    position: static;
    width: 100% !important;
  }
}

/* line 89, ../sass/screen.scss */
.fixed {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 97, ../sass/screen.scss */
.row {
  height: 200px;
  position: relative;
}

/* line 101, ../sass/screen.scss */
img.absolute {
  height: auto;
  width: auto;
}

/* line 108, ../sass/screen.scss */
.background {
  background-position: center;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
}

/* line 112, ../sass/screen.scss */
#next-page .background {
  display: none;
}

/* line 115, ../sass/screen.scss */
.animated .background {
  display: block !important;
}

/* page views */
/* line 120, ../sass/screen.scss */
.page {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-background-position: cover;
  -moz-background-position: cover;
  -ms-background-position: cover;
  -o-background-position: cover;
  background-position: cover;
}

/* line 131, ../sass/screen.scss */
#content {
  left: 0%;
  overflow: scroll;
}

/* line 136, ../sass/screen.scss */
.page > h1 {
  padding-top: 2em;
  width: 100%;
  display: block;
  text-align: center;
}

/* line 143, ../sass/screen.scss */
h2 {
  font-size: 6em;
  font-weight: 700;
  padding: 0.1em 0.2em 0.1em 0.2em;
  border: solid 2px #111;
  margin-bottom: 3em;
  display: inline-flex;
  text-align: center;
}

/* line 156, ../sass/screen.scss */
.cover h1 {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/* line 165, ../sass/screen.scss */
.cover strong {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2em;
}
/* line 171, ../sass/screen.scss */
.cover p {
  text-align: center;
}

/* line 176, ../sass/screen.scss */
h1 {
  font-size: 2em;
  padding: 2em 0 2em 0;
}

/* line 181, ../sass/screen.scss */
.full-page {
  height: 90%;
}

/* nav */
/* line 186, ../sass/screen.scss */
#nav {
  position: absolute;
  /* we need absolute as a fall back */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #ea636e;
}
/* line 195, ../sass/screen.scss */
#nav h1 {
  display: inline-block;
  padding: 0.5em;
  background-color: #fff;
  margin: 0;
  position: relative;
  z-index: 2;
  zoom: 1;
  display: inline;
}
/* line 205, ../sass/screen.scss */
#nav a {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  vertical-align: top;
}
/* line 214, ../sass/screen.scss */
#nav img {
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin: 0;
  margin-right: 3em;
  background-color: #ea636e;
}
/* line 220, ../sass/screen.scss */
#nav a:hover {
  background-color: #ca444e;
}
/* line 223, ../sass/screen.scss */
#nav #subnav, #nav #subnav-new {
  position: absolute;
}
/* line 226, ../sass/screen.scss */
#nav #subnav a, #nav #subnav-new a {
  display: block;
}
/* line 230, ../sass/screen.scss */
#nav .heighlight {
  background-color: #ff838e;
}
/* line 233, ../sass/screen.scss */
#nav .last-button {
  display: none;
}
/* line 236, ../sass/screen.scss */
#nav .bigger-than-window {
  height: 100%;
  overflow: scroll !important;
}
/* line 240, ../sass/screen.scss */
#nav .bigger-than-window-noscroll {
  overflow: hidden;
}
@media (max-width: 650px) {
  /* line 186, ../sass/screen.scss */
  #nav {
    position: fixed;
    width: 100%;
  }
  /* line 248, ../sass/screen.scss */
  #nav a {
    position: static;
    display: block;
    width: 90%;
    padding: 5%;
    z-index: 1;
  }
  /* line 255, ../sass/screen.scss */
  #nav .last-button {
    position: static;
    display: block;
    padding: 5%;
    width: 90%;
    background-color: #ccc;
  }
  /* line 262, ../sass/screen.scss */
  #nav #subnav {
    width: 100%;
    position: static;
    display: none !important;
  }
  /* line 267, ../sass/screen.scss */
  #nav #subnav-new {
    display: none !important;
    width: 100%;
  }
  /* line 270, ../sass/screen.scss */
  #nav #subnav-new a {
    width: 100%;
  }
  /* line 274, ../sass/screen.scss */
  #nav .selected {
    /*background-color: #999;*/
  }
}

/* ` */
/* other pages */
/* line 284, ../sass/screen.scss */
#loading {
  display: none;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 289, ../sass/screen.scss */
#next-page {
  left: 0%;
}

/* line 293, ../sass/screen.scss */
#prev-page {
  left: -100%;
}

/* Media Queries */
/* line 299, ../sass/screen.scss */
.nav-animate {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
