.pull-slider{
	position: fixed;
	width: 100%;
	/*background-color: #f00;*/
}
.slider-animation{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.slider-window-height{
	overflow: scroll;
	position: fixed;
}
.selected{
	background-color: #ccc;
}