<script>
	// console.log("/{{ meta.title }} and {{ meta.title }}")
	ga('send', 'pageview', {
		'page': '/{{ meta.title }}',
		'title': '{{ meta.title }}'
	});
	pageSlug = "{{ meta.slug }}"

</script>

{%if meta.title != "Home" %}
		<h1>{{ meta.title }}</h1>
{% endif %}
{%if meta.bk%}
	<div class="background fullscreen fixed" style="background-image: url(/{{meta.bk}});"></div>
{%endif%}
{%for sections in data%}
	<div id="{{sections.slug}}" {%if sections.bk%} class="background" style="background-image: url(/{{sections.bk}});"{%endif%}>
	{% if sections.showTitle %}
	<div class="row">
		<h2 class="absolute" style="left:{{sections.coloum}}%; width:{{sections.coloumWidth}}%;">{{sections.title}}</h2>
	</div>
	{% endif %}
	{%for row in sections.content%}
		<div class="row">
		{%for section in row%}
		{% if section.paragraph %}
			<div class="absolute" style="left:{{section.coloum}}%; width:{{section.coloumWidth}}%;">
				{% if section.subTitle %}
					<h2> {{section.subTitle}} </h2>
				{% endif %}
				{{section.paragraph|safe}}
			</div>{% else %}
			<img class="absolute" src="/{{section.image}}" alt="{{section.imageAlt}}" style="left:{{section.coloum}}%; width:{{section.coloumWidth}}%;">
			{% endif %}
		{%endfor%}
		</div>
	{%endfor%}
	</div>
{%endfor%}
<nav id="subnav-new" style="display:none;">
{%for sections in data%}
	{% if sections.showInSidebar %}
	<a href="#{{sections.slug}}">{{sections.title}}</a>
	{% endif %}
{%endfor%}

<script type="text/javascript">
	hashElements = [{%for sections in data%}"{{sections.slug}}"{% if forloop.last %}{%else%},{%endif%}{%endfor%}]
</script>
</nav>
