<html lang="en-ca">
<head>

	<script type="text/javascript" src="/static/js/modernizr.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0,user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
	<title>Sick Kids: Orthopaedic Surgery Fellowship</title>
	<link rel="stylesheet" type="text/css" href="/static/css/blog-css.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pullSlider.css">
	<link rel="stylesheet" type="text/css" href="/static/css/animate-slides.css">

	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/gauniversal.js"></script>
	<script type="text/javascript">
		// google analytics variables
		var pageSlug,
			hashElements,
			currentHashEl,
			triggersPoints,
			contentScrollTop = 0;
	</script>
</head>
<body>
<nav id="nav">
	<img src="/static/img/sickkidslogo.png" alt="Home"/>{% for page in meta.pages %}<a href="/page/{{page.slug}}" class="link-to-page {% if page.title = meta.title%}heighlight{% endif %}">{{page.title}}</a>{% endfor %}
	<div class="deviding-block"> </div>
	<nav id="subnav">
		{%for sections in data%}
			<a href="#{{sections.slug}}">{{sections.title}}</a>
		{% endfor %}
	</nav>
	<div class="last-button">click here to expand</div>
</nav>

<div id="loading" class="page"></div>
<section id="next-page" class="page"></section>
<section id="content" class="page animate {{meta.slug}}">
	{% include "blog-templates/ajax-post.html" %}
</section>

<script type="text/javascript" src="/static/js/pullSlider-Jquery.js"></script>

<script type="text/javascript" src="/static/js/script.js"></script>

</body>
</html>