
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/blog-css.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
<div id="content">
	<h1>{{meta.title}}</h1>
	{%for sections in data%}
		<div id="{{sections.slug}}" class="background" style="background-image: url(/{{sections.bk}});">
		<div class="row">
			<h1 class="absolute" style="left:{{sections.coloum}}%; width:{{sections.coloumWidth}}%;">{{sections.title}}</h1>
		</div>
		{%for row in sections.content%}
			<div class="row">
			{%for section in row%}
			{% if section.paragraph %}
				<p class="absolute" style="left:{{section.coloum}}%; width:{{section.coloumWidth}}%;">{{section.paragraph|safe}}</p>{% else %}
				<img class="absolute" src="/{{section.image}}" style="left:{{section.coloum}}%; width:{{section.coloumWidth}}%;">
				{% endif %}
			{%endfor%}
			</div>
		{%endfor%}
		</div>
	{%endfor%}
</div>

<script type="text/javascript">
	resizeRows();

	$( window ).resize(function() {
		resizeRows();
	});

	function resizeRows(){
		var rows = $(".row");
		rows.each(function(index){
			var children = $(rows[index]).children();
			var height = 0;
			for(var a = 0; a < children.length; ++a){
				var nheight = $(children[a]).height();
				if(nheight > height){
					height = nheight;
				}
				if(children[a].nodeName = "IMG"){
					children[a].onload = resizeRows;
				}
			}
			rows[index].style.height = height+"px";
		});
	}
</script>
</body>
</html>