{# <div class="background fullscreen fixed" style="background-image: url(/static/link/to/the/image.jpg);"></div> #}

<h1>WELCOME TO THE PIANO!</h1>

<table border="0" cellspacing="0" cellpadding="0">

		<colgroup>
			<col id="title">
			<col id="description">
			<col id="category">
			<col id="date">
		</colgroup>
		
		<thead>
			<td colspan="4">Holland Bloorview Kids Rehabilitation Hospital Clinics</td>
			<!--<td></td>
			<td></td>
			<td></td>-->
		</thead>
			
		<tr class="work-row">
			<td id="intervals">Intervals</td>
			<td><strong>Description:</strong> Design as a general descriptor, is more of a synecdoche describing a framework for problem solving often referred to as the design process.</td>
			<td>Interactive Installation</td>
			<td>04 / 15 / 2011</td>
		</tr>
		
		<tr class="work-row">
			<td id="out-of-site">Out of Site</td>
			<td><strong>Description:</strong> N/A</td>
			<td>Photography</td>
			<td>06 / 06 / 2011</td>
		</tr>
		
		<tr class="work-row">
			<td id="youths">Youths</td>
			<td><strong>Description: Poster</strong> These images were created with the idea of exploring how young designers use graphic devices and styles with little context of their history.</td>
			<td>Poster</td>
			<td>06 / 06 / 2011</td>
		</tr>
		
		<tr class="work-row">
			<td id="shelter">Shelter</td>
			<td><strong>Description:</strong> Extending the charrette-based approach to making. Shelters were built without any tools to fasten or reinforce the structures' integrity.</td>
			<td>Installation</td>
			<td>07 / 10 / 2011</td>
		</tr>
		
		<tr class="work-row">
			<td id="interstices">Interstices</td>
			<td><strong>Description:</strong> N/A</td>
			<td>Poster</td>
			<td>05 / 06 / 2010</td>
		</tr>
		
		<tr class="work-row">
			<td id="madethought">Made Thoughts</td>
			<td><strong>Description:</strong> N/A</td>
			<td>Poster Series</td>
			<td>03 / 15 / 2011</td>
		</tr>
		
		<tr class="work-row">
			<td id="totalsavings-28-05">Total Savings: $28.05</td>
			<td><strong>Description:</strong> Thirty two coupons collected during the christmas holidays. This set came from a <i>ZEHRS: Real Canadian Superstore</i> in St. Catharines Ontario Canada.</td>
			<td>Poster</td>
			<td>12 / 20 / 2010</td>
		</tr>
		
	</table>

{# we need the empty elements here so it doesn't fuck up #}
<nav id="subnav-new" style="display:none;">
</nav>
<script type="text/javascript">
	hashElements = []
	clearHighLight();
</script>
