{# <div class="background fullscreen fixed" style="background-image: url(/static/link/to/the/image.jpg);"></div> #}


<div class="cover absolute" style="left:12.5%; width:50.0%;">
	<h1>Annual of Paediatric Orthopaedic Surgery</h1>
</div>

<div class="cover absolute" style="left:25%; width:50.0%;">
	<h2><time pubdate datetime="2013-11-20">2014</time></h2>
	<p><strong>The Hospital for Sick Children</strong></p>
	<p>Division of Orthopaedic Surgery</p>
</div>


{# we need the empty elements here so it doesn't fuck up #}
<nav id="subnav-new" style="display:none;">
</nav>
<script type="text/javascript">
	hashElements = []
	clearHighLight();
</script>
