body,html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	font-family: sans-serif;
}

body{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
}

.absolute{
	position: absolute;
	/*background-color: #c44;*/
	display: inline-block;
	top: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.row{
	height: 200px;
	position: relative;
}
img.absolute{
	height: auto;
	width: auto;
}
.background{
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* page views */
	.page{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
  		-webkit-overflow-scrolling: touch;
	}

/* nav */
	#nav{
		position: absolute;/* we need absolute as a fall back */
		position: fixed;
		top: 0;
		left: 0;
		z-index: 88;
		width: 100%;
		background-color: #ea636e;
	}
	#nav h1{
		display: inline-block;
		padding: 0.5em;
		background-color: #fff;
		margin: 0;
		position: relative;
		z-index: 2;
		zoom: 1;
		*display: inline;
	}
	#nav a{
		display: inline-block;
		padding: 1em;
		text-decoration: none;
		color: inherit;
		background-color: #fff;
		vertical-align: top;
	}
	#nav a:hover{
		background-color: #f00;
	}

	#subnav, #subnav-new{
		position: absolute;
	}
	#subnav a, #subnav-new a{
		display: block;
	}

	#nav .heighlight{
		background-color: #fcc;
	}
	#nav .last-button{
		display: none;
	}
	.bigger-than-window {
		height: 100%;
		overflow: scroll !important;
	}
	.bigger-than-window-noscroll{
		overflow: hidden;
	}

/* ` */
	#content{
		left: 0%;
		background-color: #fff;
		overflow: scroll;
	}
	.page > h1 {
		padding-top: 2em;
		width: 100%;
		display: block;
		text-align: center;
	}

/* other pages */
	#loading{
		display: none;
		left:0;
		background-color: rgba(255,255,255,0.5);
	}
	#next-page{
		left:0%;
		background-color: #fff;
	}
	#prev-page{
		left: -100%;
	}

@media (max-width: 480px) {
	#nav{
		position: fixed;
		background-color: #fff;
	}
	.nav-animate{
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	.absolute{
		position: static;
		width: 100% !important;
	}
	#subnav{
		width: 100%;
		position: static;
		display: none !important;
	}
	#subnav-new{
		display: none !important;
		width: 100%;
	}
	#subnav-new a{
		width: 100%;
	}
	#nav a{
		position: static;
		display: block;
		width: 90%;
		padding: 5%;
		z-index: 1;
	}
	#nav {
		width: 100%;
	}
	#nav .last-button{
		position: static;
		display: block;
		padding: 5%;
		/*padding: 1em 0 1em 0;*/
		/*height: 50px;*/
		width: 90%;
		background-color: #ccc;
	}
	#nav .selected{
		/*background-color: #999;*/
	}
	.deviding-block{
/*		width: 100%;
		height: 5px;
		background-color: #333;*/
	}
}
