/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "compass/reset";

/* Variables */
$sk_red: #ea636e;
$sk_red_fade: #ff838e;
$hover_button: #ca444e;
$text_color_grey: #111;
$normalBackground: #fff;

// example of how to use this break point thing...
// @include breakpoint(huge) { background-color: #f00; }
// @include breakpoint(tablet) { background-color: #0f0; }
// @include breakpoint(phone) { background-color: #00f; }

body,html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "franklin-gothic-urw",sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $text_color_grey;
}

body{
	position: absolute;
	left: 0;
	top: 0;
}

table{
	
	width: 100%;
	
	thead{
		background-color: $sk_red;
		color: #fff;
		text-transform: uppercase;
		font-size: 0.8em;
		
		tr{
			border-bottom: none;
			height: 1em;
		}
		
		td{
			padding: 0.15em 0 0.15em 0.25em !important;
		}
	}
	
	colgroup{
		#row-one{
			width: 40%;
		}
		#row-two{
			width: 30%;
		}
		#row-three{
			width: 20%;
		}
	}
	
	tr{
		height: 2em;
		border-bottom: dotted #666 1px;
	}
}

#calendar-of-events{
	td{
		padding: 0.5em 0 1.2em 0;
	}
	tr{
		border-bottom: none;
	}
}

#where-are-they-now{
	background-color: #fff;
}

#current-fellows{
	h3{
		text-align: center;
		text-decoration: underline;
		color: $sk_red;
		font-weight: 700;
		margin: 0.7em 0 0.5em 0;
		text-transform: uppercase;
	}
	p{
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

.absolute{
	//position: relative;
	position: absolute;
	display: inline-block;
	top: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;

	@include breakpoint(phone) {
		position: static;
		width: 100% !important;
	}
}
.fixed{
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.row{
	height: 200px;
	position: relative;
}
img.absolute{
	height: auto;
	width: auto;
}


// we need to do some trickery so that when the image is off screen it is hidden and comes in being displayed
.background{
	background-position: center;
	@include vendorize(background-position, cover);
	z-index: -1;
}
#next-page .background{
	display: none;
}
.animated .background{
	display: block !important;
}

/* page views */
	.page{
		//background-color: #fff;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
		@include vendorize(overflow-scrolling, touch);
		@include vendorize(background-position, cover);
	}
	
	#content{
		left: 0%;
		// background-color: #fff;
		overflow: scroll;
	}
	.page > h1 {
		padding-top: 2em;
		width: 100%;
		display: block;
		text-align: center;
	}
	
	p{
		margin-bottom: 0.45em;
		letter-spacing: -0.01em;
		line-height: 1.15em;
		//For small computers and tablets
		//-webkit-transform: scale(0.98,1);
	}
	
	h2.absolute{
		margin: 2em 0 1em 5%;
		border: solid 2px $sk_red;
		box-sizing: border-box;
		font-size: 1em;
		text-align: center;
		padding: 0.1em 0.2em 0.1em 0.2em;
		font-weight: 700;
		width: initial !important;
		text-transform: uppercase;
		color: $sk_red;
	}
	
	blockquote{
		color: $text_color_grey;
		font-size: 2em;
		margin-top: 2em;
	}
	
	
	/* Custom Page Sections */
	
	strong{
		font-weight: 700;
	}
	
	#interview {
		
		background-color: #555;
		padding: 2em 0 0 0;
		
		h4{
			text-decoration: none;
			color: #fff;
		}
		
		div:nth-child(2){
			div:nth-child(1) {
				columns:2;
				-webkit-columns:2; /* Safari and Chrome */
				-moz-columns:2; /* Firefox */
				//margin: 0 0 0 0.6em;
			}
		}
	}
	
	#special-procedure{
		background-color:#fff;
		div:nth-child(2){
			div:nth-child(1){
				z-index:1;
			}
		}
	}
	
	#current-fellows{
		background-color:#fff;
	}
	
	h4{
		font-weight: 700;
		text-decoration: underline;
		text-transform: uppercase;
		margin: 1em 0 0.5em 0;
		font-size: 0.9em;
	}
	
	#cover{
		
		margin-bottom: 6em;
		
		h1{
			font-weight: 700;
			font-size: 4em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		
		h3 {
			margin: 2em auto 1em auto;
			border: solid 2px $text_color_grey;
			box-sizing: border-box;
			font-size: 1.5em;
			text-align: center;
			padding: 0.1em 0.2em 0.1em 0.2em;
			font-weight: 700;
			width: 3em;
			text-transform: uppercase;
			color: $text_color_grey;
		}
		
		strong{
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 2em;
		}
		
		p{
			text-align: center;
		}
	}

	h1{
		font-size: 2em;
		padding: 2em 0 2em 0;
	}

	.full-page{
		height: 90%;
	}

/* nav */
#nav{
	position: absolute;/* we need absolute as a fall back */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 88;
	width: 100%;
	background-color: $sk_red;

	h1{
		display: inline-block;
		padding: 0.5em;
		background-color: #fff;
		margin: 0;
		position: relative;
		z-index: 2;
		zoom: 1;
		display: inline;
	}
	a{
		display: inline-block;
		padding: 1em;
		text-decoration: none;
		font-weight: 400;
		color: #fff;
		//background-color: $normalBackground;
		vertical-align: top;
	}
	img {
		padding: 0.5em 0.8em 0.5em 0.5em;
		margin: 0;
		margin-right: 3em;
		background-color: $sk_red;
	}
	a:hover{
		background-color: $hover_button;
	}
	#subnav, #subnav-new{
		position: absolute;
	}
	#subnav a, #subnav-new a{
		display: block;
	}

	.heighlight{
		background-color: $sk_red_fade;
	}
	.last-button{
		display: none;
	}
	.bigger-than-window {
		height: 100%;
		overflow: scroll !important;
	}
	.bigger-than-window-noscroll{
		overflow: hidden;
	}
	
	// Include breakpoint mixin for media queries
	@include breakpoint(phone) {
		position: fixed;
		width: 100%;
		a{
			position: static;
			display: block;
			width: 90%;
			padding: 5%;
			z-index: 1;
		}
		.last-button{
			position: static;
			display: block;
			padding: 5%;
			width: 90%;
			background-color: #ccc;
		}
		#subnav{
			width: 100%;
			position: static;
			display: none !important;
		}
		#subnav-new{
			display: none !important;
			width: 100%;
			a{
				width: 100%;
			}
		}
		.selected{
			/*background-color: #999;*/
		}
	}
}

.home .background {
	background: no-repeat;
	background-position: center;
}

/* ` */


/* other pages */
	#loading{
		display: none;
		left:0;
		background-color: rgba(255,255,255,0.5);
	}
	#next-page{
		left:0%;
		// background-color: #fff;
	}
	#prev-page{
		left: -100%;
	}


/* Media Queries */
.nav-animate{
	@include vendorize(transition, all 0.5s);
}