/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "compass/reset";

/* Variables */
$sk_red: #ea636e;
$sk_red_fade: #ff838e;
$hover_button: #ca444e;
$text_color_grey: #111;
$normalBackground: #fff;

// example of how to use this break point thing...
// @include breakpoint(huge) { background-color: #f00; }
// @include breakpoint(tablet) { background-color: #0f0; }
// @include breakpoint(phone) { background-color: #00f; }
 
body,html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "franklin-gothic-urw",sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $text_color_grey;
}

body{
	position: absolute;
	left: 0;
	top: 0;
}

table{
	
	width: 100%;
	
	thead{
		background-color: $sk_red;
		color: #fff;
		text-transform: uppercase;
		font-size: 0.8em;
		
		tr{
			border-bottom: none;
			height: 1em;
		}
		
		td{
			padding: 0.15em 0 0.15em 0.25em !important;
		}
	}
	
	colgroup{
		#row-one{
			width: 40%;
		}
		#row-two{
			width: 30%;
		}
		#row-three{
			width: 20%;
		}
		#row-four{
			width: 10%;
		}
	}
	
	tr{
		height: 2em;
		border-bottom: dotted #666 1px;
	}
}

@include breakpoint(phone) {
	table{
	
		width: 100%;
	
		thead{
			background-color: $sk-red;
			color: #fff;
			text-transform: uppercase;
			font-size: 1em;
		
			tr{
				border-bottom: none;
				height: 1em;
			}
		
			td{
				padding: 0.25em 0 0.25em 0 !important;
				text-align:center;
			}
		}
	
		colgroup{
			#row-one{
				width: 30%;
				padding-left:1em !important;
			}
			#row-two{
				width: 30%;
			}
			#row-three{
				width: 20%;
			}
			#row-four{
				width: 10%;
			}
		}
	
		tr{
			height: 3em;
			border-bottom: solid 1px $sk-red;
			padding-left:1em !important;
		}
		td{
			padding-left: 0.3em;
		}
	}
}



/*thead{
	tr{
		text-align:center !important;
	}
}
td{
	letter-spacing:0.01em;
}
tr{
	border-bottom:solid 1px $sk-red;
}

colgroup {
	#row-one{
			padding:0.25em 0 0.25em 0.5em;
	}
}*/



#calendar-of-events{
	td{
		padding: 0.5em 0 1.2em 0;
	}
	tr{
		border-bottom: none;
	}
}

@include breakpoint(phone) {
#calendar-of-events{
	text-align:center;
	background-color:#fff;
	h2.absolute{
		margin-bottom:1em;
	}
	padding-bottom:3em;
	td{
		padding: 0.5em 0 1.2em 1em;
	}
	tr{
		border-bottom: none;
	}
}
}

#where-are-they-now{
	background-color: #fff;
}

#current-fellows{
	padding-top:6em;
	h3{
		text-align: center;
		text-decoration: underline;
		color: $sk_red;
		font-weight: 700;
		margin: 0.7em 0 0.5em 0;
		text-transform: uppercase;
	}
}

@include breakpoint(phone) {
	#spacer-1{
		display:none;
	}
}

@include breakpoint(phone) {
	#current-fellows{
		padding-bottom:3em;
		text-align: center;
		h3{
			text-align: center;
			text-decoration: underline;
			color: $sk_red;
			font-weight: 700;
			margin: 0.7em 0 0.5em 0;
			text-transform: uppercase;
		}
		p{
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			padding:0 1em 0 1em;
			text-align: left;
		}
		img{
			width:60% !important;
			padding-top: 2em;
		}
	}
}

.absolute{
	//position: relative;
	position: absolute;
	display: inline-block;
	top: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;

	@include breakpoint(phone) {
		position: static;
		width: 100% !important;
	}
}
.fixed{
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.row, .sub-row{
	height: 200px;
	position: relative;
}

img.absolute{
	height: auto;
	width: auto;
}


// we need to do some trickery so that when the image is off screen it is hidden and comes in being displayed
.background{
	background-position: center;
	background-repeat: no-repeat;
	@include vendorize(background-size,cover);
	z-index: -1;
}

.disable-hover{
	pointer-events: none;
}

@include breakpoint(phone) {
	.background {
		background-size: 200%;
	}
}

#launching{
	font-size: 0.5em;
	letter-spacing: 0.04em;
	text-transform: initial;
}

#next-page .background{
	display: none;
}
.animated .background{
	display: block !important;
}

/* page views */
	.page{
		//background-color: #fff;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: scroll;
		@include vendorize(overflow-scrolling, touch);
		@include vendorize(background-position, cover);
	}
	
	#content{
		left: 0%;
		// background-color: #fff;
		overflow: scroll;
		overflow-x: hidden;
	}
	
	/*@include breakpoint(phone) {
		#content{
			width: 90%;
			left: 1em;
		}
	}*/
	.page > h1 {
		padding-top: 2em;
		width: 100%;
		display: block;
		text-align: center;
	}
	
	p{
		margin-bottom: 0.45em;
		letter-spacing: -0.01em;
		line-height: 1.15em;
		//For small computers and tablets
		//-webkit-transform: scale(0.98,1);
	}
	
	h2.absolute{
		margin: 2em 0 1em 5%;
		border: solid 2px $sk_red;
		box-sizing: border-box;
		font-size: 1em;
		text-align: center;
		padding: 0.1em 0.2em 0.1em 0.2em;
		font-weight: 700;
		width: initial !important;
		text-transform: uppercase;
		color: $sk_red;
	}
	
	@include breakpoint(phone) {
		h2.absolute{
			margin: 0;
			border: solid 2px $sk_red;
			box-sizing: border-box;
			font-size: 1.2em;
			text-align: center;
			padding: 0.1em 0.2em 0.1em 0.2em;
			font-weight: 700;
			width: initial !important;
			text-transform: uppercase;
			color: $sk_red;
		}
	}
	
	blockquote{
		color: $text_color_grey;
		font-size: 2em;
		margin-top: 3em;
	}
	
	@include breakpoint(phone) {
		blockquote{	
			font-size: 1.6em;
			margin-top:0;
			color:#fff;
		}
		#blurb-2, #blurb-1, #blurb-3, #blurb-4, #blurb-5{
			background-color: $sk-red;
			padding: 1em 1em 6em 1em;
		}
	}
	
	.quoted {
		position: absolute;
		margin-top: 0.5em;
		right: 0px;
		font-size: 0.7em;
		font-weight: 600;
	}
	
	@include breakpoint(phone) {
		.quoted {
			position: absolute;
			margin-top: 1em;
			right: 0px;
			font-size: 0.7em;
			font-weight: 600;
		}
	}
	
	i {
		line-height: 1.2em;
	}
	
	
	/* Custom Page Sections */
	
	strong{
		font-weight: 700;
	}
	
	#interview {
		
		background-color: #777;
		padding: 2em 0 4em 0;
		
		h4{
			text-decoration: none;
			color: #fff;
		}
		h2.absolute{
			border-color: #fff;
			color:#fff;
		}
	}
	
	@include breakpoint(phone) {
		#interview {
			text-align:center;
		
			padding: 2em 0 4em 0;
			
			h2.absolute{
				border-color: #fff;
				color:#fff;
			}
			h4{
				text-decoration: none;
				color: #fff;
				padding: 0 1em 0 1em;			
			}
			p{
				text-align:left;
				padding: 0 1em 0 1em;
			}
		}
	}
	
	@include breakpoint(phone) {
		#introduction{
			text-align:center;
			padding-bottom:3em;
			background-color:$sk-red;
			h2.absolute{
				margin:1em 0 1em 0;
				border-color: #fff;
				color:#fff;
			}
			p{
				text-align:left;
				padding:0 1em 0 1em;
				color:#fff;
			}
		}
	}
	
	@include breakpoint(phone) {
		#application-process{
			text-align:center;
			p{
				text-align:left;
				padding:0 1em 0 1em;
			}
		}
		#pre-requisites{
			h2.absolute{
				margin:2em 0 1em 0;
			}
			text-align:center;
			p{
				text-align:left;
				padding:0 1em 0 1em;
			}
		}		
	}
	#special-procedure{
		background-color:#fff;
		div:nth-child(2){
			div:nth-child(1){
				z-index:1;
			}
		}
	}
	
	@include breakpoint(phone) {
		#special-procedure{
			text-align: center;
			padding-bottom:3em;
			h2.absolute{
				margin-top:2em;
			}
			p{
				text-align: left;
				padding:0 1em 0 1em;
			}
			img{
				width:70% !important;
			}
			background-color:#fff;
			div:nth-child(2){
				div:nth-child(1){
					z-index:1;
				}
			}
		}
	}
	
	#current-fellows{
		background-color:#fff;
	}
	
	h4{
		font-weight: 700;
		text-decoration: underline;
		text-transform: uppercase;
		margin: 1em 0 0.5em 0;
		font-size: 0.9em;
	}
	
	#cover{
		
		margin-bottom: 6em;
		
		h1{
			font-weight: 700;
			font-size: 4em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			color:#000;
		}
				
		h3 {
			margin: 2em auto 1em auto;
			border: solid 2px $text_color_grey;
			box-sizing: border-box;
			font-size: 1.5em;
			text-align: center;
			padding: 0.1em 0.2em 0.1em 0.2em;
			font-weight: 700;
			width: 3em;
			text-transform: uppercase;
			color: $text_color_grey;
			text-decoration: none;
		}
		
		strong{
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 2em;
		}
		
		p{
			text-align: center;
		}
		
		@include breakpoint(phone) {

			h1{
				font-size: 2.5em;
				text-transform: uppercase;
				letter-spacing: 0.06em;
				text-align: center;
				padding: 1.2em 0 0.6em 0;
			}
		}
	}
	
	@include breakpoint(phone) {
		#cover{
			margin-bottom:10em;
		}
	}

	h1{
		font-size: 2em;
		padding: 2em 0 2em 0;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color:$sk_red;
	}

	.full-page{
		min-height: 90%;
		//background-size: 100%;
	}

/* nav */
#nav{
	position: absolute;/* we need absolute as a fall back */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 88;
	width: 100%;
	background-color: $sk-red;

	h1{
		display: inline-block;
		padding: 0.5em;
		background-color: #fff;
		margin: 0;
		position: relative;
		z-index: 2;
		zoom: 1;
		display: inline;
	}
	a{
		display: inline-block;
		padding: 1em;
		text-decoration: none;
		font-weight: 400;
		color: #fff;
		//background-color: $normalBackground;
		vertical-align: top;
	}
	img {
		padding: 0.5em 0.8em 0 0.5em;
		margin: 0;
		margin-right: 3em;
		background-color: $sk_red;
		cursor: pointer;
		width: 111px;
	}
	a:hover{
		background-color: $hover_button;
	}
	#subnav, #subnav-new{
		position: absolute;
	}
	#subnav a, #subnav-new a{
		display: block;
	}

	.heighlight{
		background-color: $sk_red_fade;
	}
	.last-button{
		display: none;
	}
	.bigger-than-window {
		height: 100%;
		overflow: scroll !important;
	}
	.bigger-than-window-noscroll{
		overflow: hidden;
	}
	
	// Include breakpoint mixin for media queries
	@include breakpoint(phone) {
		position: fixed;
		width: 100%;
		a{
			position: static;
			display: block;
			width: 90%;
			padding: 5%;
			z-index: 1;
		}
		.last-button{
			position: static;
			display: block;
			padding: 5%;
			width: 90%;
			background-color: #ccc;
		}
		#subnav{
			width: 100%;
			position: static;
			display: none !important;
		}
		#subnav-new{
			display: none !important;
			width: 100%;
			a{
				width: 100%;
			}
		}
		.selected{
			/*background-color: #999;*/
		}
		.last-button{
			background-color: $sk_red;
			background-image: url(/static/img/pull-arrow.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 30px;
		}
		img{
			cursor: pointer;
			width: 111px;
		}
	}
}
@include breakpoint(tablet) {
	#nav{
		img {
			margin-right:1em;
		}
		a{
			padding-left:0.6em;
			padding-right:0.6em;
		}
	}
}

/* ` */


/* other pages */
#loading{
	display: none;
	left:0;
	//background-color: rgba(255,255,255,0.5);
	z-index: 999;
}
#next-page{
	left:0%;
	// background-color: #fff;
}
#prev-page{
	left: -100%;
}

/* Custom Sections */

#faculty-bios {
	img{
		padding-top:4em;
	}
	ul{
		margin: 0 0 1em 0;
	}
	blockquote{
		font-size:1em;
		font-style:italic;
		margin: 1em 0 0 0;
		color: $sk-red;
	}
	h3{
		font-weight: 700;
		margin: 1em 0 0.6em 0;
		text-transform: uppercase;
		text-decoration: underline;
	}
	h4{
		margin:1.4em 0 0.4em 0;
	}
	.row {
		div > div:nth-child(2) {
			div:nth-child(1) {
				z-index: 1;
			}
		}
	}
}

@include breakpoint(phone) {
	#faculty-bios {
		text-align:center;
		font-size:1.2em;
		
		h2.absolute{
			margin-bottom:1em;
		}
		
		img{
			padding-top:0;
			width:60% !important;
		}
		ul{
			margin: 0 0 1em 0;
		}
		li{
			padding: 0 1em 0 1em;
		}
		blockquote{
			font-size:1em;
			font-style:italic;
			margin: 1em 0 0 0;
			color: $sk-red;
			text-align:left;
			padding: 0 1em 0 1em;
		}
		h3{
			font-weight: 700;
			margin: 1em 0 0.6em 0;
			text-transform: uppercase;
			text-decoration: underline;
			padding:0 1em 0 1em;
		}
		h4{
			margin:1.4em 0 0.4em 0;
			padding:0 1em 0 1em;
		}
	}
}

#faculty-presentations-and-courses-20122013{
	background-size: 50%;
	background-color: #777;
	padding-bottom:3em;
	ol{
		counter-reset: list-counter;
		list-style: none;
		font-size: 0.8em;
		color: #fff;
		li{
			margin: 0 0 0.5em 0;
		}
		li:before{
			content: counter(list-counter)".";
			counter-increment: list-counter;
			color: #000;
			position: absolute;
			left: -3em;
			width: 2em;
			font-weight: bold;
			text-align: right;
		}
	}
	h2.absolute{
		border-color:#fff;
		color:#fff;
	}
}

@include breakpoint(phone) {
	#faculty-presentations-and-courses-20122013{
		background-size: 50%;
		background-color: #777;
		
		text-align: center;
		
		h2.absolute{
			border-color:#fff;
			color:#fff;
			margin: 1em 0 1em 0;
		}
		
		ol{
			counter-reset: list-counter;
			list-style: none;
			font-size: 1em;
			color: #fff;
			padding: 0 1em 0 1em;
			text-align: left;
			li{
				margin: 0 0 0.5em 0;
				
			}
			li:before{
				content: none;
				counter-increment: list-counter;
				color: #000;
				position: absolute;
				left: 1em;
				width: 2em;
				font-weight: bold;
				text-align: right;
				font-size:0.9em;
			}
		}
	}
}

#contact-information {
	.row{
		background-color: rgba(255,255,255,0.5);
		padding-bottom: 2em;	
	}
}

@include breakpoint(phone) {
	#contact-information {
		text-align: center;
		a{
			color:#fff;
		}
		.row{
			background-color: transparent;
			padding-bottom: 0;
			font-size: 1.25em;
		}
		h3{
			margin:1.25em 0 0.2em 0;
		}
		li{
			padding-bottom: 0.5em;
		}
	}
	#map{
		text-align: center;
	}
	.contact{
		background-color: $sk-red;
		h1{
			margin-bottom: 0;
			padding-bottom: 0.5em;
			visibility:hidden;
		}
		h2.absolute{
			color:#fff;
			border-color: #fff;
			margin-bottom: 1em;
		}
	}
}

.fellowship {
	#about-fellowship,#curriculum,#research-opportunities,#fellow-publications, #fellowships-available, #social-events{
		padding: 2em 0 4em 0;
	}
	//This actaully needs a class
}

#curriculum{
	background-color: #777;
	ol{
		counter-reset: list-counter;
		list-style: none;
		font-size: 0.8em;
		color: #fff;
		li{
			margin: 0 0 0.5em 0;
		}
		li:before{
			content: counter(list-counter)".";
			counter-increment: list-counter;
			color: #000;
			position: absolute;
			left: -3em;
			width: 2em;
			font-weight: bold;
			text-align: right;
		}
	}
	h2.absolute{
		border-color: #fff;
		color:#fff;
	}
}

@include breakpoint(phone) {
	.fellowship{
		h1{
			display:none;
		}
		padding:2em 0 0 0 !important;
	}
	#curriculum{
		background-color: #777;
		padding:2em 0 0 0 !important;
		ol{
			counter-reset: list-counter;
			list-style: none;
			font-size: 1em;
			
			color: #fff;
			padding: 0 1em 0 1em;
			li{
				margin: 0 0 0.5em 0;
			}
			li:before{
				content: counter(list-counter)".";
				counter-increment: list-counter;
				color: #000;
				position: absolute;
				left: -3em;
				width: 2em;
				font-weight: bold;
				text-align: right;
			}
		}
		h2.absolute{
			border-color:#fff;
			color:#fff;
		}
		img{
			bottom:0;
		}
	}
	#research-opportunities,#fellow-publications,#fellowships-available,#social-events,#curriculum{
		text-align:center;
		padding-bottom:1em;
		p{
			padding: 0 1em 0 1em;
			text-align:left;
		}
		li{
			text-align:left;
		}
		ul{
			padding: 0 1em 0 1em;
		}
		h2.absolute{
			margin:0 0 1em 0;
		}
	}
	#fellow-publications{
		font-size:0.9em;
	}
	#research-opportunities{
		img{
			margin-top:1em;
		}
	}
	#social-events{
		padding-bottom:0 !important;
		img{
			bottom:0;
		}
	}
}

#selected-faculty-publications-20122013 {
	h3{
		font-weight: 700;
		margin: 1em 0 0.6em 0;
		text-transform: uppercase;
		text-decoration: underline;
	}
	ol{
		li{
			margin: 0 0 1em 0;
		}
	}
}

@include breakpoint(phone) {
	#selected-faculty-publications-20122013 {
		
		text-align: center;
		
		h3{
			font-weight: 700;
			margin: 1em 0 0.6em 0;
			text-transform: uppercase;
			text-decoration: underline;
			padding: 0 1em 0 1em;
		}
		ol{
			li{
				margin: 0 0 1em 0;
				padding: 0 1em 0 1em;
				text-align: left;
				font-size:0.9em;
			}
		}
		
		padding-bottom: 3em;
	}
}

#previous-annuals {
	text-align: center;
	font-size: 1em;
	
	img{
		width:100%;
		box-shadow: 0px 0px 15px #999;
		margin: 0 0 1em 0;
	}
}

@include breakpoint(phone) {
	#previous-annuals {
		
		img{
			width:60%;
			margin: 3em 0 1em 0;
		}
	}
}

/* Custom Padding */
#pre-requisites{
	padding-bottom: 4em;
}

a{
	color: $sk-red;
}

h3 {
	font-weight: 700;
	margin: 1em 0 0.6em 0;
	text-transform: uppercase;
	text-decoration: underline;
}

#about{
	.sub-row{
		text-align: center;
	}
	img{
		//width: 44% !important;
	}
	h5{
		font-weight: 700;
		font-size: 3.5em;
		text-align: center;
		width: 100%;
		margin: 0.25em 0 0 0;
	}
}

@include breakpoint(phone) {
	#breadth-of-surgical-education{
		text-align:center;
		padding-bottom:3em;
		p{
			text-align:left;
			padding:0 1em 0 1em;
		}
	}
}

@include breakpoint(phone) {
	#about{
		text-align: center;
		padding:0 1em 0 1em;
		h2.absolute{
			margin:2em 0 1em 0;
			width: 80% !important;
		}
		.sub-row{
			text-align: center;
			p{
				text-align:center;
			}
		}
		#physicians,#beds,#operating,#suites{
			width:55% !important;
			margin-right:5%;
		}
		
		p{
			text-align:left;
		}
		img{
			//width: 44% !important;
		}
		h5{
			font-weight: 700;
			font-size: 3.5em;
			text-align: center;
			width: 100%;
			margin: 0.25em 0 0 0;
		}
	}
	
	#outpatient-clinics-and-outreach{
		padding-bottom: 3em;
		text-align:center;
		h2.absolute{
			margin:2em 0 1em 0;
		}
		table{
			font-size:0.9em;
		}
		p{
			padding:0 1em 0 1em;
			text-align:left;
		}
	}
	
}

#about-fellowship {
	
	.vert-top{
		vertical-align: top;
		padding-top: 0.45em;
	}
	
	colgroup{
		#row-one{
			width: 5%;
		}
		#row-two{
			width: 15%;
		}
		#row-three{
			width: 30%;
		}
		#row-four{
			width: 10%;
		}
	}
	.tr-no-dots{
		height: 2em;
		border-bottom: none;
	}
}

@include breakpoint(phone) {
	#about-fellowship {
		text-align:center;
		p{
			text-align:left;
			padding:0 1em 0 1em;
		}
	
		.vert-top{
			vertical-align: top;
			padding-top: 0.45em;
		}
	
		colgroup{
			#row-one{
				width: 5%;
			}
			#row-two{
				width: 15%;
			}
			#row-three{
				width: 30%;
			}
			#row-four{
				width: 10%;
			}
		}
		.tr-no-dots{
			height: 2em;
			border-bottom: none;
		}
	}
}

/* Media Queries */
.nav-animate{
	@include vendorize(transition, all 0.5s);
}

// map stuff
#google-maps{
	width: 100%;
	height: 600px;
	position: relative;
}

#zoom-button-container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#zoom-button-container a{
	display: inline-block;
	padding: 0.15em 0.85em 0.15em 0.85em;
	margin: 0 0 0.5em 0;
	text-decoration: none;
	background: $sk-red;
	color: #fff;
	font-weight: 600;
	font-size: 2em;
}
#zoom-button-container a:hover{
	background-color: $hover_button;
}


#contact-maps{
	width: 100%;
	height: 600px;	
}

.infobubble-bk {
	color: #fff;
	font-weight: 700 !important;
}

.gmap-overlay{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAL/gYARxgdzQAAkAOOA2IzIHJAAACAGEAFjDBirAAAAAElFTkSuQmCC) repeat;
}

// Visulizations

//Pie Chart
.heighlight-ref{
	background-color:#ccc;
	fill:#ccc;
}

#tree-area{
	width: 100%;
	height: 600px;
	display: inline-block;
}

.node {
	overflow: hidden;
	position: absolute;
	text-indent: 0.2em;
}

.tree-chart{
	color: #fff;
	background-color: #adafb2;
	font-size: 2em;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

#new-referrals-key{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	li{
		padding: 0.5em 0 0.5em 0;
		margin: 0;
		list-style: none;
	}
	li div, li h3{
		padding: 0;
		margin: 0 0 0 0.5em;
		display: inline-block;
		vertical-align:middle;
		font-size:0.9em;
		text-decoration:none;
	}
	.list-icon{
		@include vendorize(border-radius,50%);
		width: 20px;
		height: 20px;
		background-color: #adafb2;
		margin-right:0.4em;
	}
	.other{
		width: calc(90% - 30px );
		display: inline-block;
		vertical-align: top;
	}
	strong{
		text-transform:uppercase;
	}
	ul{
		margin-bottom:1em;
	}
}
#years{
	font-weight:800;
	input[type="radio"]{
		margin:0 0.5em 0 1em;
	}
	li:hover{
		background-color:#ccc;
	}
}

#new-referrals-static{
	padding-bottom: 14em;
	sub{
		font-size:0.8em;
		font-style:italic;
		color:#555;
	}
	p{
		line-height:0.95em !important;
	}
	h4{
		text-decoration:none;
		margin:0;
		padding:0;
		color:#333;
		display:inline-block;
	}
	h3{
		color:#333;
		text-decoration:none;
		border-bottom:solid #333 2px;
	}
	li{
		padding:0.2em 0 0.2em 0;
	}
}

#tree-key-chart{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	li{
		padding: 0.5em 0 0.5em 0;
		margin: 0;
		list-style: none;
	}
	li div, li h3{
		padding: 0;
		margin: 0 0 0 0.5em;
		display: inline-block;
		vertical-align:middle;
		font-size:0.9em;
		text-decoration:none;
	}
	.list-icon{
		@include vendorize(border-radius,50%);
		width: 30px;
		height: 30px;
		background-color: #adafb2;
		margin-right:0.5em;
	}
	.other{
		width: calc(90% - 30px );
		display: inline-block;
		vertical-align: top;
	}
	strong{
		text-transform:uppercase;
	}
}


.tree-chart .trauma, #tree-key-chart .trauma{
	background-color: #4d4d4f;
}
.tree-chart .hip, #tree-key-chart .hip{
	background-color: inherit;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQYV2P8PHXmf97sdEYGNAASBwlhSIAEYZJYFSBLgkxGMQFdEsUEbJJwBbgkwQrwSaIowOVVAE8dJWnM3wx9AAAAAElFTkSuQmCC)repeat;
}
.tree-chart .spine, #tree-key-chart .spine{
	background-color: #f3959a;
}
.tree-chart .limb-reconstruction, #tree-key-chart .limb-reconstruction{
	background-color: #e9636e;
}
.tree-chart .neuromuscular, #tree-key-chart .neuromuscular{
	background-color: inherit;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQYV2P09fX/v3nzRkYGNAASBwlhSIAEYZJYFSBLgkxGMQFdEsUEbJJwBbgkwQrwSaIowOVVANGsIcF5IIVwAAAAAElFTkSuQmCC)repeat;
}
.tree-chart .tumor, #tree-key-chart .tumor{
	background-color: #772f36;
}
.tree-chart .foot--ankle, #tree-key-chart .foot--ankle{
	background-color: inherit;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQYV2N8mZz3nwEIxOdOYgTRyAAkxwhTgEsRWBc+RXBjcSlCsRebIqwOgzkU5HAMBehuAvsClxdBigFQPSQ0xS90rwAAAABJRU5ErkJggg==)repeat;
}
.tree-chart .infection, #tree-key-chart .infection{
	background-color: #6d6f71;
}
.tree-chart .sports, #tree-key-chart .sports{
	background-color: #ea757e;
}
.tree-chart .upper-limb, #tree-key-chart .upper-limb{
	background-color: inherit;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQYV2OcPHXGfwYgyM3OYATRyAAkxwhTgEsRWBc+RXBjcSlCsRebIqwOgzkU5HAMBehuAvsClxdBigFXGyRG9SijbgAAAABJRU5ErkJggg==)repeat;
}
.tree-chart .genetic-and-metabolic, #tree-key-chart .genetic-and-metabolic{
	background-color: #939598;
}

.node{
	color:#fff;
}

.tree-chart .tree-graph-heigh-lighted{
	color: #fff;
	background-color:#f00;
}
#tree-key-chart li.tree-graph-heigh-lighted{
	background-color: #ccc;
}

@include breakpoint(phone) {
	.hidden-nav{
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}

.transition-all-2{
	@include easyTransition(0.5s);
}

.arc{
	path{
		stroke:$sk_red;
		stroke-width:2px;	
	}
}

.heighlight-circle{
	color:$sk_red !important;
	//fill:#fff !important;
	//fill:#269C80 !important;
	fill:#3EB5E0 !important;
	//fill:#f00 !important;
	//stroke:$sk_red;
	//stroke-width:2px;
}


#faculty-publications-and-impact-factors-2013{
	padding-bottom: 14em;
	sub{
		font-size:0.8em;
		font-style:italic;
		color:#555;
	}
	p{
		line-height:0.95em !important;
	}
	h4{
		text-decoration:none;
		margin:0;
		padding:0;
		color:#333;
		display:inline-block;
	}
	h3{
		color:#333;
		text-decoration:none;
		border-bottom:solid #333 2px;
	}
	li{
		padding:0.2em 0 0.2em 0.5em;
	}
}
#my-key{
	white-space:nowrap;
	ul{
		margin-bottom: 1em;
	}
	/*li:hover{
		
		h4{
			color:#fff !important;
		}
	}*/
	.heighlight-circle{
		background-color:#ccc;
		h4{
			//color:#fff;	
		}
	}
}
#my-add-info{
	text-align:right;
	h5{
		font-weight:800;
		font-size:2em;
		color: $sk_red;
		margin: 1em 0 0.2em 0;
	}
	strong{
		font-weight:400;
	}
	i{
		color: $sk_red;	
	}
	p{
		font-size:1em;
	}
}
#full-list{
	li{
		font-size:0.8em;
		color:$sk_red;
		margin:0 0 0.3em 0;
	}
}
@include breakpoint(tablet) {
	#my-add-info{
		h5{
			font-size:1.2em;
			white-space:nowrap;
		}
		p{
			font-size:0.8em;
		}
	}
}
@include breakpoint(tabletland) {
	#my-add-info{
		h5{
			font-size:1.5em;
			white-space:nowrap;
		}
		p{
			font-size:0.9em;
		}
	}
}
.list-icon{
	width:20px;
	height:10px;
	display:inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}
.vis-header{
	color:#333;
	text-decoration:none;
	border-bottom:solid #333 2px;
}